<p-card>
  <div class="absolute top-0 right-0 p-2">
    <button
      class="p-button p-button-text p-button-rounded"
      (click)="closeDialog($event)"
    >
      <i class="pi pi-times"></i>
    </button>
  </div>
  <ng-template #header>
    <div class="card pb-3 ng">
      <p-steps
        [model]="steps"
        [readonly]="false"
        [activeIndex]="step()"
        (activeIndexChange)="step.set($event)"
      />
    </div>
  </ng-template>
  <ng-template #title> Crear Libro </ng-template>
  <form class="m-5" [formGroup]="form">
    @if(step() === 0) {
    <div class="grid gap-4">
      <input pInputText formControlName="title" placeholder="Título" />
      <input
        pInputText
        type="number"
        formControlName="price"
        placeholder="Precio"
      />

      <textarea
        pInputText
        pSize="large"
        id="description"
        formControlName="description"
        rows="5"
        cols="30"
      ></textarea>
      <label for="description">Description</label>

      <p-multiselect
        [options]="allGenresQuery.data()"
        formControlName="genres"
        placeholder="Select Some Genres"
        optionLabel="name"
        optionValue="id"
        styleClass="w-full mb-10"
        display="chip"
        [maxSelectedLabels]="8"
        [appendTo]="'body'"
        (onShow)="disableBackgroundScroll()"
        (onHide)="enableBackgroundScroll()"
      >
        <ng-template let-genre #item>
          <div class="flex items-center justify-between w-full">
            <span>{{ genre.name }}</span>
            <p-button
              [rounded]="true"
              (click)="handleGenreForm(genre, true, $event)"
              [text]="true"
              icon="pi pi-pencil"
            />
          </div>
        </ng-template>
        <ng-template #dropdownicon>
          <i class="pi pi-list"></i>
        </ng-template>
        <ng-template #filtericon>
          <i class="pi pi-search"></i>
        </ng-template>
        <ng-template #header>
          <div class="font-medium px-3 py-2">
            Select somo genres for your book
          </div>
        </ng-template>
        <ng-template #footer>
          <div class="p-3 flex justify-between">
            <p-button
              (click)="handleGenreForm(undefined, false, $event)"
              label="Add New"
              severity="primary"
              text
              size="small"
              icon="pi pi-plus"
            />
            <p-button
              label="Remove All"
              severity="danger"
              text
              size="small"
              icon="pi pi-times"
              (click)="onRemoveAll('genres')"
            />
          </div>
        </ng-template>
      </p-multiselect>

      <p-multiselect
        [options]="allAuthorsQuery.data()"
        formControlName="authors"
        placeholder="Select Some Authors"
        optionLabel="fullName"
        optionValue="id"
        display="chip"
        [maxSelectedLabels]="6"
        [appendTo]="'body'"
        (onShow)="disableBackgroundScroll()"
        (onHide)="enableBackgroundScroll()"
      >
        <ng-template let-author #item>
          <div class="flex items-center justify-between w-full">
            <div class="flex items-center gap-3">
              <img
                [alt]="author.fullName"
                [src]="author.profile_picture_url"
                style="
                  width: 48px;
                  height: 48px;
                  border-radius: 9999px;
                  object-fit: cover;
                "
              />
              <span class="font-medium text-base">{{ author.fullName}}</span>
            </div>

            <p-button
              [rounded]="true"
              (click)="handleAuthorForm(author, true, $event)"
              [text]="true"
              icon="pi pi-pencil"
            />
          </div>
        </ng-template>
        <ng-template #dropdownicon>
          <i class="pi pi-list"></i>
        </ng-template>
        <ng-template #filtericon>
          <i class="pi pi-search"></i>
        </ng-template>
        <ng-template #header>
          <div class="font-medium px-3 py-2">
            Select somo authors for your book
          </div>
        </ng-template>
        <ng-template #footer>
          <div class="p-3 flex justify-between">
            <p-button
              (click)="handleAuthorForm(undefined, false, $event)"
              label="Add New"
              severity="primary"
              text
              size="small"
              icon="pi pi-plus"
            />
            <p-button
              label="Remove All"
              severity="danger"
              text
              size="small"
              icon="pi pi-times"
              (click)="onRemoveAll('authors')"
            />
          </div>
        </ng-template>
      </p-multiselect>

      <div class="flex items-center gap-2">
        <label for="physical">Compra física</label>
        <p-toggleswitch formControlName="physical_enable" inputId="physical" />
      </div>
    </div>
    } @if (step() === 1) {
    <upload-file [dto]="{ id: book.id, bucket: 'books-covers', uploadFn }" />
    }

    <div class="flex justify-between mt-6"></div>
  </form>

  <ng-template #footer>
    <div class="flex gap-4 mt-1">
      @if(step() === 0){
      <p-button
        label="Guardar"
        class="w-full"
        styleClass="w-full"
        type="submit"
        severity="success"
        [disabled]="form.invalid || (isEditing ? updateBookMutation.isPending() : addBookMutation.isPending())"
        [loading]="isEditing ? updateBookMutation.isPending() : addBookMutation.isPending()"
        (onClick)="submit()"
      ></p-button>
      }
    </div>
  </ng-template>
</p-card>
